*{
  margin:0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

html{
  scroll-behavior: smooth; 
}

/* INICIO HEADER */
.logo{
  text-align:left;
  width:70%;
  height: 20%;
  margin-left: 28px;

}
.nav{
  background-color: #000000;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top:0;
  z-index: 9; 
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 28px;
}

.nav-list a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 30px;
}

.nav-list a:hover{
  color: #ffffff;
}

#forma{
  height: 766x;
  width: 1150px;
}
/* FIM HEADER */


/* INICIO MAIN */
.main{
  width: 100%;
  background-color: black;
  height: calc(100vh - 70px);
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
  url("images/back2.png");
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1{
  color: #fafafa;
  font-size: 70px;
}

.main p {
  font-size: 40px;
  font-style: italic;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 35px;
}

.call-to-action{
  cursor: pointer;
  background-color: #FFFFFF;
  border:0;
  padding: 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.7s;
  font-family: 'Righteous';
  font-family: 'Secular One', sans-serif;
}

.call-to-action:hover{
  transform: scale(1.1);
}

.main a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
/* FIM MAIN */

/* INICIO ABOUT */
.about{
 background-color: #FFFFFF;
 width: 100%; 
 padding-left: 10%;
 padding-right: 10%;
 padding-top: 80px;
 padding-bottom: 80px;

 display: flex;
 align-items: center;
 justify-content: space-between;
}

.about div{
  max-width: 50%;
  padding-right: 40px;
}

.about img{
  max-width: 450px;
  border-radius: 8px;
}

.about div h2{
  font-size: 32px;
  margin-bottom: 14px;
}
/* FIM ABOUT */



/* INICIO PROJECTS */
.projects{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.projects h2{
  font-size: 32px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.projects p{
  margin-bottom: 40px;
  font-style: italic;
}

.project-list{
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects img{
  width: 22%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  opacity: 0.8;
  transition: 0.9s;
}

.projects img:hover{
  opacity: 1;
}

.action{
  background-color: rgb(107, 100, 105);
  border:0;
  padding: 12px 28px;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 18px;
  cursor: pointer;
  transition: 0,9s;
}

.action:hover{
  transform: scale(1.1)
}
/* FIM PROJECTS */

/* INICIO RODAPE */
footer{
  width: 100%;
  background-color:#000000;
  padding: 60px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer p {
  margin-left: 40px;
}
/* FIM RODAPE */

/* BENEFITS SECTION */
#key-benefits h2 {
  background-color: #ffffff;
  text-align:  center;
  padding-left: 20px;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  width: 80%;
  margin: 0 auto;
}

.benefit{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
}

.benefit .benefit-img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: black;
  margin-bottom: 25px;
}

#benefit-1 {
  background-image: url("images/sqr-1.jpg");
}

#benefit-2 {
  background-image: url("images/sqr-2\(1\).PNG");
}

#benefit-3 {
  background-image: url("images/sqr-3.PNG");
}

/* INICIO SOBRE O GRUPO */
.group {
  background-color: #f4f7f6;
  padding: 60px 10%;
  text-align: center;
}

.group h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.group p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.group-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.member img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 20px;
}

.member h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.member p {
  font-size: 16px;
  color: #555;
}

@media screen and (max-width: 768px) {
  .group-members {
    flex-direction: column;
    align-items: center;
  }

  .member {
    width: 80%;
  }
}

/* INICIO RODAPE */
footer {
  width: 100%;
  background-color: #000000;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;  /* Cor do texto alterada para branco */
}

footer a {
  text-decoration: none;
  color: #ffffff;  /* Garantir que o link também tenha cor branca */
}

footer p {
  margin-left: 40px;
}
/* FIM RODAPE */

.cta {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 80px 10%;
}

.cta h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #837a79; /* Cor de destaque */
  color: #ffffff;
  font-size: 18px;
  padding: 14px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.cta-button:hover {
  transform: scale(1.1);
}
